<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      target="_blank" style="color: red"
    >
      经贸六栋泡泡堂-技术支持
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      源代码地址
    </a>
  </p>
</footer>
